<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <title>My Fruit shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'fruitshop_app/plugins/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fruitshop_app/plugins/toastr/build/toastr.min.css' %}" />


</head>
<body>
      
<nav class="navbar navbar-expand-lg" style="background-color:rgb(255, 224, 179);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!-- <img src="../static/cartoon-orange.png" width="50" height="50" class="d-inline-block align-top" alt=""> -->
            <img src="{% static 'fruitshop_app/img/cartoon-orange.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
            <span class="text-dark display-6">MyFruitShop</span>
        </a>
            <form id="login_form" class="d-flex">
                <input id="username_input" class="form-control me-2" type="text" placeholder="Username" />
                <input id="password_input" class="form-control me-2" type="password" placeholder="Password" />
                <button id="login_button" class="btn btn-outline-danger" type="button" style="background-color:rgb(255, 117, 26); border-radius: 25px; color:black">Login</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid border border-3 mx-0 px-3 my-3">  
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered text-center border border-3">

                        <thead>
                            <tr>
                                <th colspan="4">Товарів на складі</th>
                            </tr>
                        </thead>

                        <thead>
                            <tr>
                                <th scope="col">Назва</th>
                                <th scope="col">Поточна кількість</th>
                                <th scope="col">Дія</th>
                                <th scope="col">Остання операція</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commodity in commodity_data %}
                                <tr>
                                    <th scope="row">{{commodity.title}}</th>
                                    <td id="quantity_{{ commodity.raw_title }}">{{commodity.quantity}}</td>
                                    <td>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-xl-5">
                                                <input class="form-control" placeholder="к-ть" id="input_{{ commodity.raw_title }}">
                                            </div>
                                            <div class="col-12 col-xl-7 d-grid d-lg-block">
                                                <button id="buy_{{ commodity.raw_title }}" type="button" class="btn btn-outline-secondary" style="background-color:rgb(163, 235, 175); border-radius: 25px; color:black">Купити</button>
                                                <button id="sell_{{commodity.raw_title}}" type="button" class="btn btn-outline-secondary" style="background-color:rgb(240, 176, 134); border-radius: 25px; color:black">Продати</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="last_transaction_{{ commodity.raw_title }}">
                                        <!-- 04 11 2023 10:23 - було куплено 3 ананасів за 20 usd -->
                                        {% if commodity.last_date_time_quantity %}
                                            {{ commodity.last_date_time_quantity|date:'d.m.Y H:i' }} - було {% if commodity.last_operation_type == buying %} куплено {% else %} продано {% endif %} {{ commodity.last_quantity }} {{commodity.title}} за {{ commodity.last_total_cost }} usd.
                                        {% else %}
                                            Немає інформації про останню угоду.
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mx-1">
                <div class="col-12 col-lg-6">
                    <div class="row mx-lg-5">
                        <div class="col-12 border border-3">
                            <div class="overflow-auto" style="height: 25vh; min-height: 25vh;">
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                <p class="mx-1 my-2 lh-1">11:25 Світлана: Слухаю Вас!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5 my-3">
                        <div class="col-8">
                            <input class="form-control" placeholder="Текст сообщения">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-danger" type="submit" style="background-color:rgb(255, 117, 26); border-radius: 25px; color:black">Отправить</button>
                        </div>
                    </div>
                </div>  
                <div class="col-12 col-lg-6 border border-3 mb-4">
                    <div class="row">
                        <p class="text-center">БАНК</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6">
                            <p class="text-center">Банківський рахунок</p>
                        </div>
                        <div class="col-6">
                            <p class="text-center fs-5 text-warning fw-bold" id="total_money_in_accout">{{total_money_in_accout}}</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-4">
                            <button type="button" class="btn btn-primary mb-3" style="background-color:rgb(196, 118, 170); border-radius: 25px; color:black"><p class="lh-1 my-1">Провести бухгалтерский</p><p class="lh-1 my-1">аудит</p></button>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="progress progress-sm active">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                  <span class="sr-only">75% Complete</span>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-lg-6">
                            <input class="form-control mb-3" placeholder="Сумма">
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12 d-grid gap-2 d-md-block">
                                    <button type="button" class="btn btn-outline-secondary" style="background-color:rgb(163, 235, 175); border-radius: 25px; color:black">Поповнити</button>
                                    <button type="button" class="btn btn-outline-secondary" style="background-color:rgb(240, 176, 134); border-radius: 25px; color:black">Вивести</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-12 col-lg-6 align-items-center">
                            <button type="button" class="btn btn-outline-secondary mb-3" style="background-color:rgb(163, 178, 226); border-radius: 25px; color:black">Завантажити декларацію</button>
                        </div>
                        <div class="col-12 col-lg-6 align-items-center">
                            <p>Сьогодні завантажено: 2 шт.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 border border-3">
                        <div class="overflow-auto" style="height: 80vh;" id="operation_message_container">

                            {% for transaction in last_transactions %}
                            
                                {% if transaction.status == 'success' and transaction.operation_type == 'buying' %}
                                    <p class="text-success">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Постачальник привіз {{ transaction.quantity }} {{ transaction.commodity.title }}. З рахунку списано {{ transaction.total_cost }} usd. Покупка завершена.</p>
                                {% elif transaction.status == 'error' and transaction.operation_type == 'buying' %}
                                    <p class="text-danger">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Постачальник привіз {{ transaction.quantity }} {{ transaction.commodity.title }}. Недостатньо коштів на рахунку. Покупка відмінена.</p>
                                
                                {% elif transaction.status == 'success' and transaction.operation_type == 'sailing' %}
                                    <p class="text-success">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Покупець купив {{ transaction.quantity }} {{ transaction.commodity.title }}. На рахунок зараховано {{ transaction.total_cost }} usd. Продаж завершено.</p>
                                {% elif transaction.status == 'error' and transaction.operation_type == 'sailing' %}
                                    <p class="text-danger">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Покупець бажає купити {{ transaction.quantity }} {{ transaction.commodity.title }}. Недостатньо товару на складі. Покупка відмінена.</p>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>      
    </div>
</div>



    <script src="{% static 'fruitshop_app/plugins/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'fruitshop_app/plugins/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'fruitshop_app/plugins/toastr/build/toastr.min.js' %}"></script>
    <!-- <script src="moment.js"></script> -->
    <!-- <script src="{% static 'fruitshop_app/plugins/momentjs/moment-with-locales.js' %}"></script>
    <script src="{% static 'fruitshop_app/plugins/momentjs/moment-with-locales.min.js.map' %}"></script> -->

    <script>

        

        // ------------------------->>>>>ROOM----DATA<<<<<-----------------------------------------------------------------------
        const roomName = 'fruit_shop_room'
        // ------------------------->>>>>BUY-FRUITS-LOGIC<<<<<-----------------------------------------------------------------------

        const fruitShopSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/fruitshop_app/'
        );

        function show_operation_message(status, text){
            const operation_message_container = document.getElementById("operation_message_container");
            var message_quantity = operation_message_container.children.length
            while (message_quantity >= 40){
                operation_message_container.removeChild(operation_message_container.getElementsByTagName('p')[0]);               
                var message_quantity = operation_message_container.children.length;
                // console.log(message_quantity);
            }
            var new_message = document.createElement("p");
            var date = moment();
            var currentDate = date.format('D.MM.YYYY HH:mm');
            new_message.textContent = currentDate + ' - ' + status + ': ' + text
            if (status=="SUCCESS"){
                new_message.style.color = 'green'
            } else {
                new_message.style.color = 'red'
            }
            operation_message_container.appendChild(new_message)
            new_message_position = new_message.offsetTop
            operation_message_container.scrollTop = new_message_position
            
        }


        //receiver function for socket data 
        fruitShopSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            var message_status = data["data"]["message"]["status"]
            var message_text = data["data"]["message"]["text"]
            
            
            if(message_status == "SUCCESS"){
                var fruit_type = Object.keys(data["data"]["change_store"])[0];
                var new_fruit_value = data["data"]["change_store"][fruit_type]
                var fruit_remain_data = document.getElementById('quantity_' + fruit_type)
                fruit_remain_data.innerHTML = new_fruit_value

                var change_account = data["data"]["change_account"]
                var total_in_account_elem = document.getElementById("total_money_in_accout")
                total_in_account_elem.innerHTML = change_account

                var last_transaction_elem = document.getElementById('last_transaction_' + fruit_type)
                if (data["data"]["deal_type"] == 'buying'){
                    var date = moment();
                    var last_operation = date.format('D MM YYYY HH:mm') + ' - було куплено ' + data["data"]["changed_fruit_quantity"] + ' ' + data["data"]["fruit_title"] + ' за ' + data["data"]["fruit_cost"] + ' usd'
                    last_transaction_elem.innerHTML = last_operation
                } else{
                    var date = moment();
                    var last_operation = date.format('D MM YYYY HH:mm') + ' - було продано ' + data["data"]["changed_fruit_quantity"] + ' ' + data["data"]["fruit_title"] + ' за ' + data["data"]["fruit_cost"] + ' usd'
                    last_transaction_elem.innerHTML = last_operation
                }
            }
            show_operation_message(message_status, message_text)

        }

        fruitShopSocket.onclose = function(e){
            console.error('Chat socket closed unexpectably');
        };

        var allBuyButtons = document.querySelectorAll('[id^="buy_"], [id^="sell_"]')

        Array.from(allBuyButtons).forEach(change_task_button => {
            change_task_button.addEventListener('click', function(event){

                var fruitStr = change_task_button.id;
                if (fruitStr.includes('buy_')){
                    var fruit = fruitStr.replace('buy_', '');
                    var operation_type = 'buying'
                } else {
                    var fruit = fruitStr.replace('sell_', '');
                    var operation_type = 'sailing'
                }
                var inputId='input_'+ fruit;
                var fruit_quantity_input = document.querySelector('#' + inputId);

                if (fruit_quantity_input.value.length !== 0){
                    change_task_title = 'change_task_' + fruit
                    console.log('-------------------------')
                    console.log(change_task_title)
                    fruitShopSocket.send(JSON.stringify({
                        [change_task_title]: {'operation_type': operation_type,
                                            'commodity_type': fruit,
                                            'quantity': fruit_quantity_input.value}
                    }))
                }
                fruit_quantity_input.value = ""

            })
        })

    // ------------------------->>>>>END---------BUY-FRUITS-LOGIC<<<<<----------------------------------------------------------

    // ------------------------->>>>>-BUY-FRUITS-DATA<<<<<----------------------------------------------------------

    const LoginSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/login/'
        );


    document.querySelector('#login_button').onclick = function(event){

        var usernameValue = document.querySelector('#username_input').value
        var passwordValue = document.querySelector('#password_input').value

        if(usernameValue == ''){
            toastr.info('Please enter username!')
        } else if (passwordValue == ''){
            toastr.info('Please enter password!')
        } else {
            LoginSocket.send(JSON.stringify({
            'login': usernameValue,
            'password': passwordValue
        }))
    };
};



    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    </script>
</body>
</html>