<!DOCTYPE html>
{% load static %}
<!-- {% load tz %}
{% localtime on %} -->

<html lang="en">
<head>

    <title>My Fruit shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'fruitshop_app/plugins/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fruitshop_app/plugins/toastr/build/toastr.min.css' %}" />


</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg" style="background-color:rgb(255, 224, 179);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- <img src="../static/cartoon-orange.png" width="50" height="50" class="d-inline-block align-top" alt=""> -->
                <img src="{% static 'fruitshop_app/img/cartoon-orange.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
                <span class="text-dark display-6">MyFruitShop</span>
            </a>

            <!-- <button id="login_button" class="btn btn-outline-danger" type="submit" style="background-color:rgb(255, 117, 26); border-radius: 25px; color:black">Login</button> -->
            <span class="ms-auto mx-4">{{user.username}}</span>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger" style="background-color:rgb(255, 117, 26); border-radius: 25px; color:black">Logout</a>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg" style="background-color:rgb(255, 224, 179);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- <img src="../static/cartoon-orange.png" width="50" height="50" class="d-inline-block align-top" alt=""> -->
                <img src="{% static 'fruitshop_app/img/cartoon-orange.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
                <span class="text-dark display-6">MyFruitShop</span>
                <!-- {% if user.is_authenticated %}
                    <span>Hi, {{user.username}}</span>
                {% else %}
                    <span>You are not authenticated</span>
                {% endif %} -->
            </a>
                <!-- <form id="login_form" class="d-flex"> -->
                <form method="post" enctype="multipart/form-data" class="d-flex">
                    {% csrf_token %}
                    <!-- <input id="username_input" class="form-control me-2" type="text" placeholder="Username" /> -->
                    {{ form.username }}
                    <!-- <input id="password_input" class="form-control me-2" type="password" placeholder="Password" /> -->
                    {{ form.password }}
                    <button id="login_button" class="btn btn-outline-danger" type="submit" style="background-color:rgb(255, 117, 26); border-radius: 25px; color:black">Login</button>
                </form>
            </div>
        </div>
    </nav>
{% endif %}
<div class="container-fluid border border-3 mx-0 px-3 my-3">  
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered text-center border border-3">

                        <thead>
                            <tr>
                                <th colspan="4">Товарів на складі</th>
                            </tr>
                        </thead>

                        <thead>
                            <tr>
                                <th scope="col">Назва</th>
                                <th scope="col">Поточна кількість</th>
                                <th scope="col">Дія</th>
                                <th scope="col">Остання операція</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commodity in commodity_data %}
                                <tr>
                                    <th scope="row">{{commodity.title}}</th>
                                    <td id="quantity_{{ commodity.raw_title }}">{{commodity.quantity}}</td>
                                    <td>
                                        <div class="row align-items-center">
                                            <div class="col-12 col-xl-5">
                                                <input class="form-control" placeholder="к-ть" id="input_{{ commodity.raw_title }}">
                                            </div>
                                            <div class="col-12 col-xl-7 d-grid d-lg-block">
                                                <button id="buy_{{ commodity.raw_title }}" type="button" class="btn btn-outline-secondary" style="background-color:rgb(163, 235, 175); border-radius: 25px; color:black">Купити</button>
                                                <button id="sell_{{commodity.raw_title}}" type="button" class="btn btn-outline-secondary" style="background-color:rgb(240, 176, 134); border-radius: 25px; color:black">Продати</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="last_transaction_{{ commodity.raw_title }}">
                                        <!-- 04 11 2023 10:23 - було куплено 3 ананасів за 20 usd -->
                                        {% if commodity.last_date_time_quantity %}
                                            {{ commodity.last_date_time_quantity|date:'d.m.Y H:i' }} - було {% if commodity.last_operation_type == buying %} куплено {% else %} продано {% endif %} {{ commodity.last_quantity }} {{commodity.title}} за {{ commodity.last_total_cost }} usd.
                                        {% else %}
                                            Немає інформації про останню угоду.
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mx-1">
                <div class="col-12 col-lg-6">
                    <div class="row mx-lg-5">
                        <div class="col-12 border border-3">
                            <div id="chat_message_container" class="overflow-auto" style="height: 25vh; min-height: 25vh;">
                                <p class="mx-1 my-2 lh-1">11:25 Анатолій: Добрий день!</p>
                                {% for message in last_messages_data %}
                                    {% if message.from_user.last_name %}
                                        <p class="mx-1 my-2 lh-1">{{ message.message_data_time|date:'H:i' }} {{ message.from_user.last_name }}: {{ message.text }}</p>
                                    {% else %}
                                        <p class="mx-1 my-2 lh-1">{{ message.message_data_time|date:'H:i' }} {{ message.from_user.username }}: {{ message.text }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row mx-5 my-3">
                        <div class="col-8">
                            <input id="message_text_input" class="form-control" placeholder="Текст сообщения">
                        </div>
                        <div class="col-4">
                            <button id="send_message_button" class="btn btn-outline-danger" type="submit" style="background-color:rgb(255, 117, 26); border-radius: 25px; color:black">Отправить</button>
                        </div>
                    </div>
                </div>  
                <div class="col-12 col-lg-6 border border-3 mb-4">
                    <div class="row">
                        <p class="text-center">БАНК</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6">
                            <p class="text-center">Банківський рахунок</p>
                        </div>
                        <div class="col-6">
                            <p class="text-center fs-5 text-warning fw-bold" id="total_money_in_accout">{{total_money_in_accout}}</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-4">
                            <button id="conduct_an_accounting_audit" type="button" class="btn btn-primary mb-3" style="background-color:rgb(196, 118, 170); border-radius: 25px; color:black"><p class="lh-1 my-1">Провести бухгалтерский</p><p class="lh-1 my-1">аудит</p></button>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="progress progress-sm active">
                                <div id="status_container" class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                  <span id="status_line" class="sr-only">0% Complete</span>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-lg-6">
                            <input class="form-control mb-3" placeholder="Сумма" id="change_account_summ">
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12 d-grid gap-2 d-md-block">
                                    <button id="top_up_change_account" type="button" class="btn btn-outline-secondary" style="background-color:rgb(163, 235, 175); border-radius: 25px; color:black">Поповнити</button>
                                    <button id="withdraw_change_account" type="button" class="btn btn-outline-secondary" style="background-color:rgb(240, 176, 134); border-radius: 25px; color:black">Вивести</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-12 col-lg-6 align-items-center">
                            <!-- <button type="button" class="btn btn-outline-secondary mb-3" style="background-color:rgb(163, 178, 226); border-radius: 25px; color:black">Завантажити декларацію</button> -->

                            <a href="{% url 'download_declaration' %}" class="btn btn-outline-secondary mb-3" style="background-color:rgb(163, 178, 226); border-radius: 25px; color:black" download="">
                                Завантажити декларацію
                            </a>

                        </div>
                        <div class="col-12 col-lg-6 align-items-center">
                            <p>Сьогодні завантажено: 2 шт.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 border border-3">
                        <div class="overflow-auto" style="height: 80vh;" id="operation_message_container">

                            {% for transaction in last_transactions %}
                            
                                {% if transaction.status == 'success' and transaction.operation_type == 'buying' %}
                                    <p class="text-success">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Постачальник привіз {{ transaction.quantity }} {{ transaction.commodity.title }}. З рахунку списано {{ transaction.total_cost }} usd. Покупка завершена.</p>
                                {% elif transaction.status == 'error' and transaction.operation_type == 'buying' %}
                                    <p class="text-danger">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Постачальник привіз {{ transaction.quantity }} {{ transaction.commodity.title }}. Недостатньо коштів на рахунку. Покупка відмінена.</p>
                                
                                {% elif transaction.status == 'success' and transaction.operation_type == 'sailing' %}
                                    <p class="text-success">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Покупець купив {{ transaction.quantity }} {{ transaction.commodity.title }}. На рахунок зараховано {{ transaction.total_cost }} usd. Продаж завершено.</p>
                                {% elif transaction.status == 'error' and transaction.operation_type == 'sailing' %}
                                    <p class="text-danger">{{ transaction.trade_date_time|date:'d.m.Y H:i' }} - {{ transaction.status|title }}: Покупець бажає купити {{ transaction.quantity }} {{ transaction.commodity.title }}. Недостатньо товару на складі. Покупка відмінена.</p>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>      
    </div>
</div>



    <script src="{% static 'fruitshop_app/plugins/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'fruitshop_app/plugins/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'fruitshop_app/plugins/toastr/build/toastr.min.js' %}"></script>
    <!-- <script src="moment.js"></script> -->
    <script src="{% static 'fruitshop_app/plugins/momentjs/moment-with-locales.js' %}"></script>
    <!-- <script src="{% static 'fruitshop_app/plugins/momentjs/moment-with-locales.min.js.map' %}"></script> -->

    <script>

        

        // ------------------------->>>>>ROOM----DATA<<<<<-----------------------------------------------------------------------
        const roomName = 'fruit_shop_room'
        // ------------------------->>>>>BUY-FRUITS-LOGIC<<<<<-----------------------------------------------------------------------

        const fruitShopSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/fruitshop_app/'
        );


        function show_operation_message(status, text){
            const operation_message_container = document.getElementById("operation_message_container");
            var message_quantity = operation_message_container.children.length
            while (message_quantity >= 40){
                operation_message_container.removeChild(operation_message_container.getElementsByTagName('p')[0]);               
                var message_quantity = operation_message_container.children.length;
            }
            var new_message = document.createElement("p");
            var date = moment();
            var currentDate = date.format('D.MM.YYYY HH:mm');
            new_message.textContent = currentDate + ' - ' + status + ': ' + text
            if (status=="SUCCESS"){
                new_message.style.color = 'green'
            } else {
                new_message.style.color = 'red'
            }
            operation_message_container.appendChild(new_message)
            new_message_position = new_message.offsetTop
            operation_message_container.scrollTop = new_message_position
            
        }


        //receiver function for socket data 
        fruitShopSocket.onmessage = function(e){
            // console.log('fruitShopSocket onmessage work!')
            const data = JSON.parse(e.data)
            var message_status = data["data"]["message"]["status"]
            var message_text = data["data"]["message"]["text"]
            
            show_operation_message(message_status, message_text)

        }

        fruitShopSocket.onclose = function(e){
            console.error('Chat socket closed unexpectably');
        };

        var allBuyButtons = document.querySelectorAll('[id^="buy_"], [id^="sell_"]')

        Array.from(allBuyButtons).forEach(change_task_button => {
            change_task_button.addEventListener('click', function(event){

                var fruitStr = change_task_button.id;
                if (fruitStr.includes('buy_')){
                    var fruit = fruitStr.replace('buy_', '');
                    var operation_type = 'buying'
                } else {
                    var fruit = fruitStr.replace('sell_', '');
                    var operation_type = 'sailing'
                }
                var inputId='input_'+ fruit;
                var fruit_quantity_input = document.querySelector('#' + inputId);

                if (fruit_quantity_input.value.length !== 0){
                    change_task_title = 'change_task_' + fruit
                    // console.log('-------------------------')
                    // console.log(change_task_title)
                    fruitShopSocket.send(JSON.stringify({
                        [change_task_title]: {'operation_type': operation_type,
                                            'commodity_type': fruit,
                                            'quantity': fruit_quantity_input.value}
                    }))
                }
                fruit_quantity_input.value = ""

            })
        })

    // ------------------------->>>>>END---------BUY-FRUITS-LOGIC<<<<<----------------------------------------------------------

    // ------------------------->>>>>CHANGE---BALLANCE--AND---LAST----OPERATIONS-LOGIC<<<<<----------------------------------------------------------
    const changeAccountSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/change_ballance/'
        );

    var allChangeAccountButtons = document.querySelectorAll('[id$="_change_account"]')
    Array.from(allChangeAccountButtons).forEach(change_account_button => {
        change_account_button.addEventListener('click', function(event){
            var change_summ_input = document.getElementById('change_account_summ')
            var change_account_summ = change_summ_input.value
            if(change_account_button.id == 'top_up_change_account' && change_account_summ != ''){
                var changes_in_account = {'type': 'top_up', 'money': change_account_summ}
                change_summ_input.value = ''
                // console.log(changes_in_account)
                changeAccountSocket.send(JSON.stringify({'changes_in_account': changes_in_account}))
            } else if(change_account_button.id == 'withdraw_change_account' && change_account_summ != ''){
                var changes_in_account = {'type': 'withdraw', 'money': change_account_summ}
                // console.log(changes_in_account)
                change_summ_input.value = ''
                changeAccountSocket.send(JSON.stringify({'changes_in_account': changes_in_account}))
            } else {
                toastr.info("Щоб внести зміни в стан рахунку, заповніть поле 'сумма'")
            }
        })
    })

    changeAccountSocket.onmessage = function(e){
        var data = JSON.parse(e.data)
        var account_data = document.getElementById('total_money_in_accout')

        if (data['data']['status']=='success'){
            account_data.innerHTML = data['data']['account_state']
            var text = data['data']['message']
            toastr.success(text)        
        } else {
            var text = data['data']['message']
            toastr.warning(text)
        }
    }

    // ------------------------------------------------------------------------------------------------------------------
                
    const getAccountAndLastOperationsDataSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/get_account_and_last_operaions_data/'
        );

    getAccountAndLastOperationsDataSocket.onmessage = function(e){
        var data = JSON.parse(e.data)
        var account_state = data['data']['account_state']
        var account_data = document.getElementById('total_money_in_accout')
        account_data.innerHTML = data['data']['account_state']

        for(var commodity of data['data']['commodity_data']){
            // console.log(commodity)
            var fruit_type = commodity['raw_title']
            var last_transaction_elem = document.getElementById('last_transaction_' + fruit_type)

            if (commodity["last_operation_type"] == 'buying'){
                var last_operation = commodity['format_last_date_time_quantity'] + ' - було куплено ' + commodity["last_quantity"] + ' ' + commodity["title"] + ' за ' + commodity["last_total_cost"] + ' usd'
                last_transaction_elem.innerHTML = last_operation
            } else if (commodity["last_operation_type"] == 'sailing'){
                var last_operation = commodity['format_last_date_time_quantity'] + ' - було продано ' + commodity["last_quantity"] + ' ' + commodity["title"] + ' за ' + commodity["last_total_cost"] + ' usd'
                last_transaction_elem.innerHTML = last_operation
            } else {
                last_transaction_elem.innerHTML = "Немає інформації про останню угоду."
            }

        }

        toastr.success('Відомості про стан рахунку та останні операції оновлено')
    }

    // ------------------------->>>>>END-----CHANGE---BALLANCE--AND---LAST----OPERATIONS-LOGIC<<<<<--------------------------------

    // ------------------------->>>>>Chat--With--TECH---SUPPORT<<<<<<<<<<<<<-------------------------------------------------------

    const chatWithTechSupportSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat_with_tech_support/'
        );


    var send_message_button = document.getElementById('send_message_button')
    send_message_button.addEventListener('click', function(event){
        var message_text = document.getElementById('message_text_input').value
        chatWithTechSupportSocket.send(JSON.stringify(
                                        {'message_text': message_text}
                ))
        document.getElementById('message_text_input').value = ""
    })



    chatWithTechSupportSocket.onmessage = function(event){
        var data = JSON.parse(event.data)
        const chat_message_container = document.getElementById("chat_message_container");
        if (data['data']['perm_status'] == 'joker'){
            toastr.warning('JOCKER!!!!!!!!')
            // console.log('=======JOCKER=======')
            // console.log(data['data'])
            // console.log('====================')
        } else  if(data['data']['perm_status'] == 'anonym'){
            toastr.warning('Писати в тех підтримку може тільки зареєстрований користувач. Увійдіть, будь ласка у систему.')
        } else {
            // user message
            var new_user_message = document.createElement("p");
            // mx-1 my-2 lh-1
            new_user_message.classList.add('mx-1', 'my-2', 'lh-1')
            var date = moment();
            var currentTime = date.format('HH:mm');
            new_user_message.textContent = currentTime + ' ' + data['data']['message_author'] + ': ' + data['data']['message']['message_text']
            chat_message_container.appendChild(new_user_message)
            // response message
            var new_response_message = document.createElement("p");
            new_response_message.classList.add('mx-1', 'my-2', 'lh-1')
            var date = moment();
            var currentTime = date.format('HH:mm');
            new_response_message.textContent = currentTime + ' ' + data['data']['response_author'] + ': ' + data['data']['response']
            chat_message_container.appendChild(new_response_message)
            // chat length
            var message_quantity = chat_message_container.children.length
            while (message_quantity >= 40){
                chat_message_container.removeChild(chat_message_container.getElementsByTagName('p')[0]);               
                var message_quantity = chat_message_container.children.length;
            }
            new_message_position = new_response_message.offsetTop
            chat_message_container.scrollTop = new_message_position
        }
    }

    
    // ------------------------->>>>>END-------Chat--With--TECH---SUPPORT<<<<<<<<<<<<<---------------------------------------------
    // ------------------------->>>>>>>>>CONDUCT_AN_ACCOUNTING_AUDIT----LOGIC<<<<--------------------------------------------------

    const getAccounAuditSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/get_account_audit/'
        );

        var account_listener_button = document.getElementById('conduct_an_accounting_audit')
        account_listener_button.addEventListener('click', function(event){
            getAccounAuditSocket.send(JSON.stringify(
                                        {'message_text': 'get event listener, please!!!'}
                ))            
        })


        getAccounAuditSocket.onmessage = function(event){
            
            var data_from_task = JSON.parse(event.data)
            var filing_of_container = data_from_task['data']['progress_bar_status']
            var status_container = document.getElementById('status_container')
            status_container.style.width = filing_of_container + '%'
            var progress_bar = document.getElementById('status_line')
            // console.log('-------------')
            // console.log(progress_bar)
            // console.log('-------------')
            progress_bar.innerHTML = filing_of_container + '% Complete'

            
        }




        // Array.from(allBuyButtons).forEach(change_task_button => {
        //     change_task_button.addEventListener('click', function(event){



    // ------------------------->>>>>>>>>CONDUCT_AN_ACCOUNTING_AUDIT--END--LOGIC<<<<-----------------------------------------------


    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    </script>
</body>
</html>

<!-- {% endlocaltime %} -->